<!-- Footer Component -->
<div class="w3-container w3-padding-32 yeyobitz-footer" id="footer">
  <div class="footer-contenido">
    <!-- Columna izquierda -->
    <div class="footer-columna">
      <h4 class="titulo-pixel footer-titulo">Enlaces Importantes</h4>
      <div class="footer-links">
        <a href="#myPage">Inicio</a>
        <a href="#team">Nosotros</a>
        <a href="#work">Portafolio</a>
        <a href="#pricing">Servicios</a>
        <a href="#contact-section">Contacto</a>
      </div>
    </div>
    
    <!-- Columna central -->
    <div class="footer-columna">
      <h4 class="titulo-pixel footer-titulo">Redes Sociales</h4>
      <div class="footer-social">
        <a class="social-btn" href="https://facebook.com/blogfiction.cl" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a class="social-btn" href="https://twitter.com/blogfictioncl" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a class="social-btn" href="https://youtube.com/channel/blogfiction" title="Youtube"><i class="fa fa-youtube"></i></a>
        <a class="social-btn" href="https://instagram.com/blogfictioncl" title="Instagram"><i class="fa fa-instagram"></i></a>
        <a class="social-btn" href="https://linkedin.com/company/blogfiction" title="Linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
    
    <!-- Columna derecha -->
    <div class="footer-columna">
      <h4 class="titulo-pixel footer-titulo">Nuestra Ubicación</h4>
      <p><i class="fa fa-map-marker"></i> Santiago, Chile</p>
      <p><i class="fa fa-phone"></i> +56 9 1234 5678</p>
      <p><i class="fa fa-envelope"></i> contacto@blogfiction.cl</p>
    </div>
  </div>
  
  <!-- Firma -->
  <div class="firma-container">
    <p>Hecho con <i class="fa fa-heart"></i> por 
      <a href="https://github.com/Javitajonnes" target="_blank" class="firma-link">@Javitajonnes</a> y 
      <a href="https://yeyobitz.dev" target="_blank" class="firma-link yeyobitz-firma">YeyoBitz.dev</a>
    </p>
    <p class="copyright">© 2023 Blogfiction - Todos los derechos reservados</p>
  </div>
  
  <!-- Botón volver arriba -->
  <div class="volver-arriba-container">
    <a class="boton-volver-arriba pixel-corners" href="#myPage">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
</div> 