<!-- Componente: InfoModal (Ventana modal informativa) -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top pixel-corners">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>¡Oh espera! ¡Esto es solo una Alerta!</h4>
      <h5>Agrega información relevante sobre ti <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Genial, ¿no? Aquí podría ir tu WhatsApp.</p>
      <p>O algún enlace importante <a class="w3-text-teal" href="#">PARA TUS CLIENTES</a>, ¡elige bien!</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Y aquí va tu firma.</p>
    </footer>
  </div>
</div> 