<!-- Componente: Navbar (Barra de navegación) -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>blogfiction.cl</a>
  <div class="w3-right">
    <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Equipo</a>
    <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Trabajos</a>
    <a href="#pricing" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Servicios</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contacto</a>
      <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-button" title="Notifications"><i class="fa fa-caret-down"></i> Redes Sociales</button>     
      <div class="w3-dropdown-content w3-card-4 w3-bar-block pixel-corners">
        <a href="https://instagram.com/blogfictioncl" class="w3-bar-item w3-button">Instagram </a>
        <a href="https://www.facebook.com/blogfiction.cl" class="w3-bar-item w3-button">Facebook</a>
        <a href="https://www.linkedin.com/company/blogfiction/" class="w3-bar-item w3-button">Linkedin</a>
        <a href="https://wa.me/56981977426" class="w3-bar-item w3-button">Whatsapp</a>
      </div>
    </div>
  </div>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Equipo</a>
    <a href="#work" class="w3-bar-item w3-button">Trabajos</a>
    <a href="#pricing" class="w3-bar-item w3-button">Servicios</a>
    <a href="#contact" class="w3-bar-item w3-button">Contacto</a>
    <a href="#" class="w3-bar-item w3-button">Buscar</a>
  </div>
</div> 