<!-- Componente: Services (Sección de servicios/pricing) -->
<div class="w3-row-padding w3-center w3-padding-64 seccion-principal" id="pricing">
  <h2 class="titulo-pixel">SERVICIOS</h2>
  <p>Elige el plan que mejor se adapte a tus necesidades.</p><br>
  
  <div class="w3-third w3-margin-bottom">
    <ul class="w3-ul w3-border w3-hover-shadow pixel-corners">
      <li class="w3-theme">
        <p class="w3-xlarge">Vinculación Tiendas</p>
      </li>
      <li class="w3-padding-16"><b>1 demo</b> a elección por mes</li>
      <li class="w3-padding-16">Torneos diseñados para atraer <b>nuevos jugadores</b></li>
      <li class="w3-padding-16">Actividades <b>presenciales y online</b></li>
      <li class="w3-padding-16">Estrategias para fortalecer comunidad local</li>
      <li class="w3-padding-16">Captación de clientes para tiendas</li>
      <li class="w3-padding-16">
        <span class="w3-opacity">Desde</span>
        <h2 class="w3-wide"><i class="fa fa-usd"></i> 50.000</h2>
        <span class="w3-opacity">por mes</span>
      </li>
      <li class="w3-theme-l5 w3-padding-24">
        <button class="w3-button w3-teal w3-padding-large pixel-corners"><i class="fa fa-check"></i> ¡Registrarse!</button>
      </li>
    </ul>
  </div>

  <div class="w3-third w3-margin-bottom">
    <ul class="w3-ul w3-border w3-hover-shadow pixel-corners">
      <li class="w3-theme-l2">
        <p class="w3-xlarge">Desarrollo Web y Software</p>
      </li>
      <li class="w3-padding-16">Landing page optimizada con <b>SEO e IA</b></li>
      <li class="w3-padding-16">Plataformas hechas a  <b>la medida </b>de tu proyecto</li>
      <li class="w3-padding-16">Sistemas <b>SaaS y CRM </b> pensados para crecer contigo</li>      
      <li class="w3-padding-16">Acompañamiento continuo y soporte tecnico constantes</li>
      <li class="w3-padding-16">
        <span class="w3-opacity">Desde</span>
        <h2 class="w3-wide"><i class="fa fa-usd"></i> 80.000</h2>        
      </li>
      <li class="w3-theme-l5 w3-padding-24">
        <button class="w3-button w3-teal w3-padding-large pixel-corners"><i class="fa fa-check"></i> ¡Registrarse!</button>
      </li>
    </ul>
  </div>

  <div class="w3-third w3-margin-bottom">
    <ul class="w3-ul w3-border w3-hover-shadow pixel-corners">
      <li class="w3-theme">
        <p class="w3-xlarge">Colegios y universidades</p>
      </li>
      <li class="w3-padding-16"><b>Organización</b> de torneos y actividades formativas</li>
      <li class="w3-padding-16">Talleres y charlas <b>educativas</b></li>
      <li class="w3-padding-16"><b>Gamificación</b> de eventos institucionales</li>
      <li class="w3-padding-16">Gamificación aplicada <b>al aula</b></li>
      <li class="w3-padding-16">Diseño de experiencias educativas con  <b>enfoque lúdico</b></li>
      <li class="w3-padding-16">
        <span class="w3-opacity">Desde</span>
        <h2 class="w3-wide"><i class="fa fa-usd"></i> 180.000 + IVA</h2>        
      </li>
      <li class="w3-theme-l5 w3-padding-24">
        <button class="w3-button w3-teal w3-padding-large pixel-corners"><i class="fa fa-check"></i> ¡Registrarse!</button>
      </li>
    </ul>
  </div>
</div> 