<!-- Componente: Sidebar (Barra lateral) -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge pixel-corners" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Cerrar
    <i class="fa fa-remove"></i>
  </a>
  <a href="#team" class="w3-bar-item w3-button">Equipo</a>
  <a href="#work" class="w3-bar-item w3-button">Trabajos</a>
  <a href="#pricing" class="w3-bar-item w3-button">Servicios</a>
  <a href="#contact" class="w3-bar-item w3-button">Contacto</a>
</nav> 